<mat-card class="bannerblock">
    <span class="formwrapper">
        <h2>ORDER NOW</h2>
        <span class="formsubwrapper">
            <form [formGroup]="myForm" (ngSubmit)="submit()">
                <span class="frorgroup">
                    <input type="text" placeholder="First Name" formControlName="firstname"
                        (blur)="inputUntouch(myForm,'firstname')">
                    <mat-error *ngIf="!myForm.controls['firstname'].valid && myForm.controls['firstname'].touched"
                        class="errortext">First Name field can not be blank</mat-error>
                </span>
                <span class="frorgroup">
                    <input type="text" placeholder="Last Name" formControlName="lastname"
                        (blur)="inputUntouch(myForm,'lastname')">
                    <mat-error *ngIf="!myForm.controls['lastname'].valid && myForm.controls['lastname'].touched"
                        class="errortext">Last Name field can not be blank</mat-error>

                </span>
                <span class="frorgroup">
                    <input type="email" placeholder="Email Address" formControlName="email"
                        (blur)="inputUntouch(myForm,'email')">
                    <mat-error *ngIf="!myForm.controls['email'].valid && myForm.controls['email'].touched"
                        class="errortext">Email field can not be blank</mat-error>

                </span>
                <span class="frorgroup">
                    <input type="text" placeholder="Company Name" formControlName="companyname"
                        (blur)="inputUntouch(myForm,'companyname')">
                    <mat-error *ngIf="!myForm.controls['companyname'].valid && myForm.controls['companyname'].touched"
                        class="errortext">Company Name field can not be blank</mat-error>

                </span>
                <span class="frorgroup formradio">
                    <p>Government Purchase</p>
                    <mat-radio-group aria-label="Government Purchase" formControlName="governmentpurchase"
                        (blur)="inputUntouch(myForm,'governmentpurchase')">
                        <mat-radio-button (click)="gotoTop()" value="yes">Yes</mat-radio-button>
                        <mat-radio-button (click)="gotoTop()" value="no">No</mat-radio-button>
                    </mat-radio-group>
                    <mat-error
                        *ngIf="!myForm.controls['governmentpurchase'].valid && myForm.controls['governmentpurchase'].touched"
                        class="errortext">Government Purchase field can not be blank</mat-error>

                </span>
                <span class="frorgroup formradio">
                    <p>Medical Facility </p>
                    <mat-radio-group aria-label="Medical Facility" formControlName="medicalfacility"
                        (blur)="inputUntouch(myForm,'medicalfacility')">
                        <mat-radio-button value="yes">Yes</mat-radio-button>
                        <mat-radio-button value="no">No</mat-radio-button>
                    </mat-radio-group>
                    <mat-error
                        *ngIf="!myForm.controls['medicalfacility'].valid && myForm.controls['medicalfacility'].touched"
                        class="errortext">Medical Facility field can not be blank</mat-error>

                </span>
                <span class="frorgroup">
                    <mat-card-content class="colcontainer">
                        <span class="col-2">
                            <!-- <mat-form-field>
                        <mat-label>Country  </mat-label>
                        <mat-select [(value)]="selected">
                          <mat-option>None</mat-option>
                          <mat-option value="option1d">Option 1</mat-option>
                          <mat-option value="option2d">Option 2</mat-option>
                          <mat-option value="option3d">Option 3</mat-option>
                        </mat-select>
                      </mat-form-field> -->
                            <input type="text" placeholder="Country" formControlName="country"
                                (blur)="inputUntouch(myForm,'country')">
                            <mat-error *ngIf="!myForm.controls['country'].valid && myForm.controls['country'].touched"
                                class="errortext">Country field can not be blank</mat-error>

                        </span>
                        <span class="col-2">
                            <!-- <mat-form-field>
                        <mat-label>State</mat-label>
                        <mat-select [(value)]="selected">
                          <mat-option>None</mat-option>
                          <mat-option value="option1">Option 1</mat-option>
                          <mat-option value="option2">Option 2</mat-option>
                          <mat-option value="option3">Option 3</mat-option>
                        </mat-select>
                      </mat-form-field> -->
                            <input type="text" placeholder="State" formControlName="state"
                                (blur)="inputUntouch(myForm,'state')">
                            <mat-error *ngIf="!myForm.controls['state'].valid && myForm.controls['state'].touched"
                                class="errortext">State field can not be blank</mat-error>


                        </span>
                    </mat-card-content>
                </span>
                <span class="frorgroup">
                    <input type="text" placeholder="Business Phone" formControlName="businessphone"
                        (blur)="inputUntouch(myForm,'businessphone')">
                    <mat-error
                        *ngIf="!myForm.controls['businessphone'].valid && myForm.controls['businessphone'].touched"
                        class="errortext">Business Phone Number field can not be blank</mat-error>

                </span>
                <span class="frorgroup">
                    <input type="text" placeholder="Mobile Phone" formControlName="phone"
                        (blur)="inputUntouch(myForm,'phone')">
                    <mat-error *ngIf="!myForm.controls['phone'].valid && myForm.controls['phone'].touched"
                        class="errortext">Mobile Number field can not be blank</mat-error>

                </span>
                <span class="frorgroup">
                    <input type="number" placeholder="How Many Masks Do You Need?" formControlName="noofmasks"
                        (blur)="inputUntouch(myForm,'noofmasks')">
                    <mat-error *ngIf="!myForm.controls['noofmasks'].valid && myForm.controls['noofmasks'].touched"
                        class="errortext">No of Masks field can not be blank</mat-error>

                </span>
                <span class="frorgroup">
                    <input type="text" placeholder="Who Referred You" formControlName="reference">
                </span>
                <br>
                <span class="frorgroup">
                    <span class="textwrapper">
                        <p>
                            <span>Disclaimer:</span> You will receive a call from Beto Paredes directly after filling
                            this out from a 702 number, please be looking for this.
                        </p>
                    </span>
                </span>
                <span class="frorgroup">
                    <button>submit</button>
                </span>
            </form>
        </span>
    </span>
    <span class="bannerbuttonwrapper">
        <button class="l_blue">Strong</button>
        <button class="d_blue">Soft</button>
        <button class="l_blue">Breathable</button>
        <button class="d_blue">THE BEST VIRUS BARRIER</button>
    </span>
    <span class="vmimage1 textwrapper">
        <h3>
            <i>NEW</i>
            <i>VIRUSBARRIER</i>
            <i>MEDICAL</i>
            <i>FACE MASKS</i>
        </h3>
        <p><span>
                The perfect balance <br>
                between protection <br>
                and comfort - with <br>
                sanitary registry!
            </span>

        </p>
    </span>
    <span class="vmimage2">
        <h2> Supply Is LIMITED! <span>Order Now!</span></h2>
    </span>
</mat-card>

<mat-card class="homeblock1">
    <span class="ascontainer">
        <mat-card-content class="homeblocksubwrapper">
            <span class="textwrapper">
                <h2>Minimum order of <span>500,000</span></h2>
                <p> as we are filling large orders world wide. Lead time is <span>3 to 7 days</span>. Larger orders take
                    priority.</p>
                <button (click)="gotoTop()" class="blackbtn">Order Now!</button>
            </span>
            <div class="videowrapper">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/T5zGS06MAh0" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </mat-card-content>
    </span>
</mat-card>

<span class="homeblock2 padding-tb">
    <span class="ascontainer">
        <span class="titlewrapper">
            <h2>THE MASKS</h2>
        </span>
        <div class="block2list">
            <div class="block2listitem">
                <div class="textwrapper">
                    <h3>SSMMS MASK WITH TURNS</h3>
                    <p>Made in SSMMS fabric (Spunbond x 2 – Meltblown x 3 – Spunbond) 5 layered 100% Polypropylene
                        nonwoven fabric manufactured using 5 beams. </p>
                    <b class="border"></b>
                    <p>This fabric offers amazing benefits like fine filtration of particles.</p>
                </div>
                <div class="imagewrapper">
                    <img src="../../../assets/images/image1.png">
                </div>
                <button (click)="gotoTop()" class="button_w">buy now ></button>
            </div>

            <div class="block2listitem">
                <div class="textwrapper">
                    <h3>SSMMS ANATOMICAL MASK</h3>
                    <p>Made in SSMMS fabric (Spunbond x 2 – Meltblown x 3 – Spunbond) 5 layered100% Polypropylene. </p>
                    <b class="border"></b>
                    <p>With holes in the area of the ears, to provide better fit on the face.</p>
                </div>
                <div class="imagewrapper">
                    <img src="../../../assets/images/image2.png">
                </div>
                <button (click)="gotoTop()" class="button_w">buy now ></button>
            </div>

            <div class="block2listitem">
                <div class="textwrapper">
                    <h3>BVT PLEATED MASK</h3>
                    <p>Breathable viral barrier of the last generation!</p>
                    <p>This fabric offers amazing benefits like fine filtration of particles.</p>
                    <b class="border"></b>
                    <p>Coronavirus, HIV, Tuberculosis, avian influenza, H1N1, among others greater than 0.027 microns
                    </p>
                </div>
                <div class="imagewrapper">
                    <img src="../../../assets/images/image3.png">
                </div>
                <button (click)="gotoTop()" class="button_w">buy now ></button>
            </div>


        </div>
    </span>
</span>

<mat-card class="homeblock3 padding-tb">
    <span class="block3image">
        <img src="../../../assets/images/homblock3image.png">
    </span>
    <span class="ascontainer">
        <span class="titlewrapper">
            <h2>Breathable viral barrier (BVT)</h2>
        </span>

        <mat-card-container class="homeblock3subwrapper">
            <span class="col">
                <span class="textwrapper">
                    <p>This innovative medical face mask is built for the most critical circumstances, keeping
                        healthprofessionals protected and comfortable.</p>
                    <p>The latest generation of Breathable Viral Barrier surgical fabric takes advantage of decades of
                        experience in the manufacture of products for surgical protection.</p>
                    <p>The fabric is made up of a <span>LAMINATED TRI-LAYER</span> built to be waterproof, breathable
                        and comfortable.</p>
                    <p>But above all, it is an infallible BARRIER against viruses and bacteria of all kinds.</p>
                    <p>The Breathable Viral Barrier fabric is strong, soft, highly breathable and provides excellent
                        barrier properties
                        against viruses that cause infectious diseases such as <span>HIV / AIDS (Human Immunodeficiency
                            Virus), H1N1</span> and Avian Influenza. </p>
                </span>
            </span>
            <span class="col">
                <mat-list>
                    <mat-list-item>
                        <b>1</b>
                        <span class="textwrapper">
                            <p>The outer layer provides water repellency and resistance.</p>
                        </span>
                    </mat-list-item>
                    <mat-list-item>
                        <b>2</b>
                        <span class="textwrapper">
                            <p>The inner layer is soft and comfortable when used during long surgical procedures.</p>
                        </span>
                    </mat-list-item>
                    <mat-list-item>
                        <b>3</b>
                        <span class="textwrapper">
                            <p>The barrier layer is a membrane that has a non-porous monolithic structure that provides
                                an
                                impermeable barrier, thereby blocking the passage of viruses and bacteria. The structure
                                of the film allows the passage of moisture vapor,
                                which allows the user to remain comfortable while providing the highest level of
                                protection.</p>
                        </span>
                    </mat-list-item>
                </mat-list>
            </span>
        </mat-card-container>
        <span class="block3image2">
            <img src="../../../assets/images/homblock3image2.png">
        </span>

        <button (click)="gotoTop()" class="button_b">buy now ></button>

    </span>
</mat-card>


<mat-card class="homeblock4">
    <span class="ascontainer">
        <span class="titlewrapper">
            <h2>HOW OUR MASK WORKS</h2>
        </span>
        <mat-card-container class="homeblock3subwrapper">
            <span class="col-4">
                <span class="textwrapper">
                    <h2>Better Threat Barrier / Excellent Breathability</h2>
                    <p>Compared to pleated three-layer masks, the monolithic film provides a significantly better
                        barrierto all fluids in the operating room, including bacteria and viruses.</p>
                    <h2>Pleated Three-Layer Masks</h2>
                    <p>
                        The breathability in the structure of the three layers is formed by adding an intermediate
                        layermade of short fibers, which under tension form micro holes to allow the passage of air. Due
                        to its nature, it could have
                        potential changes in its barrier performance under tension.
                    </p>
                    <h2>BVT Medical Face Mask</h2>
                    <p>
                        Breathability is inherent in the membrane, which allows the passage of water vapor. Themembranes
                        will not change the barrier performance, even under stressful conditions. It is a complete
                        barrier against
                        fluids and viruses as small as 0.027 microns. (CORONAVIRUS 0.030 microns) which exceeds the
                        FFP3.ical environment.
                    </p>
                </span>
                <button (click)="gotoTop()" class="button_b">buy now ></button>
            </span>

            <span class="col-6">
                <span class="textwrapper">
                    <h2>WHAT MASKS PROTECT AGAINST THE <span>CORONAVIRUS?</span></h2>
                </span>
                <mat-card-content>
                    <span class="sub-col1">
                        <img src="../../../assets/images/tableimg1.png">
                        <p>Filtration of at least 78% of air particles</p>
                        <strong>FFP1</strong>
                    </span>
                    <span class="sub-col2">
                        <span class="textwrapper">
                            <p>It protects from non-toxic and non-fibrogenic waste from dust or aerosols. Avoid
                                inhalation of annoying residues and odors.
                            </p>
                        </span>
                    </span>
                </mat-card-content>

                <mat-card-content>
                    <span class="sub-col1">
                        <img src="../../../assets/images/tableimg2.png">
                        <p>Filtration of at least 78% of air particles</p>
                        <strong>FFP1</strong>
                    </span>
                    <span class="sub-col2">
                        <span class="textwrapper">
                            <p>It protects from non-toxic and non-fibrogenic waste from dust or aerosols. Avoid
                                inhalation of annoying residues and odors.
                            </p>
                        </span>
                    </span>
                </mat-card-content>
                <mat-card-content>
                    <span class="sub-col1">
                        <img src="../../../assets/images/tableimg3.png">
                        <p> Filtration of at least 92% of air particles</p>
                        <strong>FFP2</strong>
                    </span>
                    <span class="sub-col2">
                        <span class="textwrapper">
                            <p>It Protects from non-toxic waste and fibrogenic elements.</p>
                            <p>It avoids inhalation of toxic fluids of dust, aerosols and smoke.
                            </p>
                        </span>
                    </span>
                </mat-card-content>
                <mat-card-content class="borderblock">
                    <span class="sub-col1">
                        <img src="../../../assets/images/tableimg4.png">
                        <p> Filtration of at least 95% of air particles</p>
                        <strong>FFP3</strong>
                    </span>
                    <span class="sub-col2">
                        <span class="textwrapper">
                            <p>It protects against poisonous and toxic types of dust, smoke and aerosols.</p>
                            <button class="redbtn">It protects against bacteria, viruses and fungal spores.</button>
                        </span>
                    </span>
                </mat-card-content>
                <span class="listfooter">
                    <span class="listfooterblock">
                        <h2>FFP: Filtering Facepiece (normative europea)</h2>
                        <button>BVB mouth covers exceeds the FFP3 protection factor</button>
                    </span>
                    <span class="listfooterblock">
                        <button (click)="gotoTop()" class="button_w">buy now ></button>
                    </span>
                </span>

            </span>

        </mat-card-container>

    </span>
</mat-card>


<mat-card class="homeblock5">
    <span class="ascontainer">
        <span class="titlewrapper">
            <h2>HOW OUR MASK COMPARES</h2>
        </span>
        <mat-card-container class="homeblock3subwrapper">
            <span class="col-3">
                <h2>
                    <span>AAMI PB 70</span>
                    <span>AAMI - Association for the Advancement of Medical Instrumentation,</span>
                </h2>
                <table>
                    <thead>
                    <tr class="tableh">

                        <th scope="col">Fluid amount</th>
                        <th scope="col">Fluid spray or splash</th>
                        <th scope="col">Pressure on gown or drape</th>
                        <th scope="col">Examples of procedure with anticipated exposure risks </th>
                        <th scope="col">ANSI/AAMI PB 70 Barrier performance </th>
                        <th scope="col">Test</th>
                        <th scope="col">Result</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="Fluid amount">Minimal</td>
                        <td data-label="Fluid spray or splash">Minimal</td>
                        <td data-label="Pressure on gown or drape">Minimal</td>
                        <td data-label="Examples of procedure with anticipated exposure risks">
                            <p>Simple excisional biopsies</p>
                            <p>Excision of lumps and pumps</p>
                            <p>Ophthalmological procedures</p>
                            <p>Simple ear, nose and
                                throat (ENT) procedures</p>
                        </td>
                        <td data-label="ANSI/AAMI PB 70 Barrier performance">Level 1
                            (least
                            protective)</td>
                        <td data-label="Test">AATCC 42
                            Water
                            impact
                            (WI)</td>
                        <td data-label="Result">≤ 4.5 g</td>
                    </tr>
                    <tr>
                        <td data-label="Fluid amount">Low</td>
                        <td data-label="Fluid spray or splash">Low</td>
                        <td data-label="Pressure on gown or drape">Low</td>
                        <td data-label="Examples of procedure with anticipated exposure risks">
                            <p>Tonsillectomy and adenoidectomy</p>
                            <p>Endoscopic gastrointestinal
                                procedures</p>
                            <p>Simple orthopedic procedures with tourniquets</p>
                            <p>Open hernia repair</p>
                            <p>Minimally invasive surgery</p>
                            <p>Interventional radiology or catheter </p>
                            <p>lab procedures </p>
                        </td>
                        <td data-label="ANSI/AAMI PB 70 Barrier performance">Level 2</td>
                        <td data-label="Test">AATCC 42 WI <br>AATCC 127 Hydro Head (HH)</td>
                        <td data-label="Result">
                            ≤ 1.0 g <br>
                            ≥ 20 cm
                        </td>
                    </tr>
                    <tr>
                        <td data-label="Fluid amount">Moderate</td>
                        <td data-label="Fluid spray or splash">Moderate</td>
                        <td data-label="Pressure on gown or drape">Moderate</td>
                        <td data-label="Examples of procedure with anticipated exposure risks">
                            <p>Mastectomies</p>
                            <p>Arthroscopic orthopedic procedures</p>
                            <p>Endoscopic urological procedures
                                (eg. transurethral prostate resection)</p>
                            <p>Open gastrointestinal and
                                genitourinary procedures</p>
                        </td>
                        <td data-label="ANSI/AAMI PB 70 Barrier performance">Level 3</td>
                        <td data-label="Test">AATCC 42, WI<br>

                            AATCC 127,
                            HH</td>
                        <td data-label="Result">≥ 50 cm</td>
                    </tr>
                    <tr>
                        <td data-label="Fluid amount">High</td>
                        <td data-label="Fluid spray or splash">High</td>
                        <td data-label="Pressure on gown or drape">High</td>
                        <td data-label="Examples of procedure with anticipated exposure risks">
                            <p>Any procedure in which the surgeon's hands and arms are in a body cavity Orthopedic
                                procedures without a tourniquet</p>
                            <p>Open cardiovascular or thoracic procedures</p>
                            <p>Trauma procedures</p>
                            <p>Caesarean sections</p>
                            <p></p>
                        </td>
                        <td data-label="ANSI/AAMI PB 70 Barrier performance">Level 4 BVB
                            (most
                            protective)
                        </td>
                        <td data-label="Test">
                            ASTM F1671, Gowns<br> ASTM F1670 Drapes
                        </td>
                        <td data-label="Result">Pass <br>Pass</td>
                    </tr>
                </tbody>

                </table>
                <img src="../../../assets/images/block5image.png">

            </span>
            <span class="col-3">
                <span class="textwrapper">
                    <h3>Comfort - thanks to breathability Strong, light and with little noiseReliabilityMeets the
                        highest international standards Without FC (Fluorine Chemical)</h3>
                    <p>International industry standards are used to test and measure the performance of the barrier for
                        blood fluids and pathogens for materials used in protective clothing. This fabric exceeds these
                        strict standards that provide the necessary waterproof protection in the surgical environment.
                    </p>

                    <p>The Protection and Comfort found in BVT protective masks meet the highest standards of regulatory
                        performance. It is designed to pass the criteria of AAMI PB 70 Level 4 and high-performance
                        critical area gowns in accordance with the European Standard for surgical curtains, gowns and
                        clean air suits EN13795.</p>


                    <p>ASTM F1671 * is the standard test method for the resistance of materials used in protective
                        clothing to blood-borne penetration using Phi-X174 bacteriophage penetration as a test system.
                        The test system has been designed to measure the penetration of a microbe substitute for
                        hepatitis (B and C) and human immunodeficiency virus (HIV).</p>

                    <p>The bacteriophage substitute Phi-X174, used in the test method, is similar to HCV in size and
                        shape, but also serves as a substitute for HBV and HIV. </p>
                </span>
                <button (click)="gotoTop()" class="button_b">buy now ></button>
            </span>
        </mat-card-container>


    </span>
</mat-card>



<mat-card class="homeblock6">
    <span class="homeblock6subwrapper">
        <span class="textwrapper">
            <h1>COMPLIANT WITH US FDA
                Good Manufacturing
                Practice (GMP)</h1>
            <p>See complete test results here</p>
        </span>
        <span class="buttonwrapper">
            <a class="button_w"
                href="https://all-frontend-assets.s3.amazonaws.com/bvt-mask-assetc/images/ViralPenetrationFinalReport.pdf"
                target="_blank">
                download report <img src="../../../assets/images/downloadarrow.png">
            </a>
            <button (click)="gotoTop()" class="button_w">buy now ></button>

        </span>
    </span>
    <a class="downloadpdf"
        href="https://all-frontend-assets.s3.amazonaws.com/bvt-mask-assetc/images/TNR_brochure_EN.pdf" target="_blank">
        <p>Download the </p>
        <h1>pdf</h1>
        <p>Brochure Now!</p>
    </a>
</mat-card>


<mat-card class="footer">
    <p>
        <span>© 2020 All rights reserved. </span>
        <span>Terms and Condition</span>
        <span>Privacy Statement</span>
    </p>
</mat-card>