@media only screen and (max-width: 1880px) {
  .formwrapper{right:36px}
  .vmimage1{right:470px}
  }
  @media only screen and (max-width: 1860px) {
  .vmimage1{right:465px;width:389px}
  .vmimage1.textwrapper p:after{width:98%;bottom:-48px;left:4px;height:76px}
  .vmimage1.textwrapper p{width:366px}
  .vmimage1.textwrapper p span{height:136px;font-size:21px}
  .vmimage1.textwrapper h3 i{padding-bottom:16px;font-size:45px}
  }
  @media only screen and (max-width: 1840px) {
  .block3image2 img{width:50%}
  .block3image img{width:75%}
  }
  @media only screen and (max-width: 1820px) {
  .vmimage1{right:465px;width:378px;top:105px}
  }
  @media only screen and (max-width: 1800px) {
  .bannerblock{background-position:left -39px bottom!important}
  }
  @media only screen and (max-width: 1760px) {
  .bannerblock{background-position:left -76px bottom!important}
  }
  @media only screen and (max-width: 1720px) {
  .bannerblock{background-position:left -122px bottom!important}
  .vmimage2{width:792px}
  .vmimage2 h2{font-size:48px}
  }
  @media only screen and (max-width: 1666px) {
  .bannerblock{background-position:left -182px bottom!important}
  .vmimage1.textwrapper h3 i:after{top:39px}
  }
  @media only screen and (max-width: 1680px) {
  .downloadpdf{height:173px;width:273px;background-size:cover;left:998px}
  .downloadpdf h1{font-size:49px;line-height:38px}
  .downloadpdf p{font-size:22px}
  .homeblock6subwrapper .textwrapper h1{font-size:37px;width:504px;line-height:37px}
  .homeblock6subwrapper .textwrapper p{font-size:39px}
  .homeblock6subwrapper{width:930px}
  }
  @media only screen and (max-width: 1640px) {
  .ascontainer{width:98%}
  }
  @media only screen and (max-width: 1620px) {
  .col-3{width:48%}
  .homeblock5 .col-3 img{right:-243px;width:243px}
  .homeblocksubwrapper .textwrapper h2{font-size:57px;line-height:54px}
  .homeblocksubwrapper .textwrapper p{font-size:30px;line-height:34px}
  .bannerblock{background-position:left -223px bottom!important}
  }
  @media only screen and (max-width: 1560px) {
  .block2listitem .textwrapper h3{font-size:32px}
  .bannerblock{background-position:left -277px bottom!important}
  .bannerbuttonwrapper button{padding:5px 15px;font-size:36px}
  .vmimage2 h2{font-size:37px}
  .vmimage2{width:704px}
  .vmimage1.textwrapper h3 i{padding-bottom:10px;font-size:35px}
  .vmimage1.textwrapper h3 i:after{top:35px}
  .vmimage1.textwrapper p span{height:108px;font-size:17px;line-height:19px}
  .vmimage1.textwrapper p{width:288px}
  .vmimage1{right:487px;width:316px;top:105px}
  }
  @media only screen and (max-width: 1480px) {
    .cdk-overlay-pane.custom-modalbox-videoplayer-preview {height: 398px!important;}
  .homeblock5 .col-3 img{display:none}
  .col-3{width:55%}
  .homeblock6subwrapper .textwrapper h1{font-size:29px;width:400px;line-height:31px}
  .homeblock6subwrapper .textwrapper p{font-size:30px}
  .homeblock6subwrapper{width:800px}
  .downloadpdf{left:888px}
  .block2listitem .textwrapper{width:46%}
  .block2listitem .textwrapper h3{font-size:27px;line-height:28px}
  .block2listitem .textwrapper p{font-size:15px;line-height:19px}
  .vmimage1{right:449px}
  .bannerblock{background-position:left -367px bottom!important}
  }
  @media only screen and (max-width: 1420px) {
  .videowrapper{width:461px;height:250px}
  .homeblocksubwrapper .textwrapper h2{font-size:47px;line-height:45px}
  .homeblocksubwrapper .textwrapper p{font-size:26px;line-height:26px}
  .blackbtn{font-size:34px}
  }
  @media only screen and (max-width: 1400px) {
  .titlewrapper h2{font-size:42px}
  .homeblock3subwrapper .col-4 .textwrapper h2{line-height:27px;font-size:21px}
  .listfooterblock button{font-size:18px}
  .listfooterblock h2{font-size:22px}
  }
  @media only screen and (max-width: 1380px) {
  .homeblock3subwrapper .col-6 .mat-card-content .sub-col1 p{padding:0 19px}
  .bannerblock{background-position:left -423px bottom!important}
  }
  @media only screen and (max-width: 1360px) {
  .homeblock6{background-position:left -60px top!important}
  .downloadpdf{height:130px;width:218px}
  .block3image img{width:64%}
  .block2listitem .imagewrapper{width:174px;height:149px}
  }
  @media only screen and (max-width: 1300px) {
  .homeblock6{padding:30px 17px!important;background-position:left -180px top!important}
  .button_w,.button_b, .listfooterblock button.button_w{font-size:24px}
  .homeblock6subwrapper{width:742px}
  .downloadpdf{left:787px}
  .col-3{width:59%}
  .col-4{width:34%}
  .homeblock3subwrapper .col-6{width:60%}
  .block2list{flex-wrap:wrap}
  .block2listitem{width:45.5%}
  .bannerbuttonwrapper{padding-top:84px;padding-left:26px}
  .bannerblock{background-position:left -551px bottom!important}
  .bannerbuttonwrapper button{padding:0 15px;font-size:27px}
  }
  @media only screen and (max-width: 1199px) {
    .videowrapper .videoimage {
      position: inherit;
      left: inherit;
      top: inherit;
      min-width: inherit;
      min-height: inherit;
      object-fit: inherit;
      transform: inherit;
      width: 100%;
  }
  .videowrapper {
    width: inherit;
    height: inherit;
}
  .col-3{width:100%}
  .homeblock5 .col-3:nth-last-child(1){width:100%;text-align:center;padding-top:20px}
  .homeblock5 .col-3 .button_b{margin:0 auto;display:block}
  .homeblock6subwrapper{width:100%;flex-wrap:wrap;justify-content:center}
  .homeblock6subwrapper .textwrapper h1{width:100%;text-align:center}
  .col-4{width:100%}
  .buttonwrapper{width:100%;display:inline-block;text-align:center}
  .homeblock6subwrapper .buttonwrapper .button_w{width:fit-content;margin:14px auto}
  .homeblock6subwrapper .textwrapper{text-align:center}
  .downloadpdf{height:130px;width:218px;background:#fd594e;border-radius:8px;position:inherit;margin:0 auto;top:inherit;left:inherit}
  .homeblock3subwrapper .col-6{width:100%}
  .homeblock3subwrapper .col-4 .button_b{position:inherit;right:inherit;bottom:inherit;margin:0 auto;display:block}
  .homeblock3subwrapper .col-4{position:relative;padding-bottom:30px;text-align:center}
  .homeblock3subwrapper .col-6 .mat-card-content .sub-col1{width:100%}
  .homeblock3subwrapper .col-6 .mat-card-content .sub-col2{width:100%}
  .homeblock3subwrapper .col-6 .mat-card-content{flex-wrap:wrap}
  .homeblock3subwrapper .col-6 .mat-card-content::after{display:none}
  .homeblock3subwrapper .col-6 .mat-card-content .sub-col1 strong{position:inherit;top:inherit;right:inherit}
  .homeblock3subwrapper .col-6 .mat-card-content .sub-col2{width:100%;text-align:center}
  .listfooter{flex-wrap:wrap}
  .listfooter .listfooterblock{display:inline-block;width:100%;text-align:center}
  .listfooter .listfooterblock:nth-child(1){padding-bottom:20px}
  .block3image{position:inherit;left:inherit;bottom:inherit;display:block;padding-bottom:20px}
  .block3image img{width:100%;position:inherit;left:inherit;bottom:inherit}
  .homeblock3subwrapper .col .textwrapper p{padding:10px 0;text-align:center}
  .block3image2 img{width:100%}
  .homeblock3 .button_b{display:block;margin:0 auto;margin-top:20px}
  .homeblock3subwrapper{flex-wrap:wrap}
  .homeblock3subwrapper .col{width:100%}
  .homeblock3subwrapper .col:nth-child(2){width:100%;margin-left:0}
  .homeblock3subwrapper .col mat-list .textwrapper{width:98%;padding-left:24px;padding-top:60px;margin-top:25px;text-align:center}
  .homeblock3subwrapper .col mat-list mat-list-item b{left:50%;transform:translatex(-50%)}
  .block2listitem{width:44.5%}
  .homeblocksubwrapper{flex-wrap:wrap;flex-wrap:wrap;padding:20px;background-size:530%;padding-top:152%;padding-bottom:2%;background-color:#8dc3d6;border-radius:0}
  .homeblock1 .ascontainer{width:100%}
  .homeblocksubwrapper .textwrapper{text-align:center;display:inline-block;width:100%;padding-left:0}
  .videowrapper{margin:0 auto;margin-top:20px}
  .formwrapper{right:inherit;position:inherit;top:inherit;width:98%;margin:0 auto;margin-bottom:20px}
  .vmimage1{right:inherit;position:inherit;top:inherit;width:100%}
  .bannerbuttonwrapper{padding:0;text-align:center;display:inline-block;width:100%;margin-bottom:20px}
  .bannerbuttonwrapper button{padding:0 15px;font-size:27px;width:100%}
  .vmimage2{width:100%;position:inherit;left:inherit;right:inherit;bottom:inherit}
  .vmimage2 h2{font-size:37px;background:#1ebceb;height:auto;text-align:center;padding-left:0;width:100%;display:inline-block; margin-bottom: 20px;}
  .vmimage1.textwrapper p span{
    height: auto;
    font-size: 24px;
    line-height: 28px;
    width: 100%;
    background: #ff5a4f;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 17px 0;
  }
  .vmimage1.textwrapper p{width:100%}
  .vmimage1.textwrapper p:after,.vmimage2 h2:after,.formsubwrapper:after{display:none}
  .bannerblock{background:#d0dbe6!important;padding:20px!important;min-height:inherit;margin-bottom:20px}
  .colcontainer .col-2{width:100%}
  }
  @media only screen and (max-width: 991px) {
    .cdk-overlay-pane.custom-modalbox-videoplayer-preview {
      height: 276px!important;
  }
  .block2listitem{width:100%;width:100%;flex-wrap:wrap-reverse;padding-bottom:90px}
  .block2listitem .button_w{position:absolute;right:inherit;bottom:20px;left:50%;transform:translatex(-50%); width: fit-content;}
  .block2listitem .imagewrapper{margin:0 auto}
  .block2listitem .textwrapper{width:100%;text-align:center;padding-top:20px}
  .homeblock5 table td p{background-position:right top 5px;padding-left:0;padding-right:15px}
  table{border:0;width:100%}
  table caption{font-size:1.3em}
  table thead{border:none;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
  table tr{border-bottom:3px solid #ddd;display:block;margin-bottom:.625em;border:1px solid #6d6f71}
  table td{border-bottom:1px solid #6d6f71;display:block;font-size:.8em;text-align:right;border-left:0!important;border-right:0!important}
  table td::before{content:attr(data-label);float:left;font-weight:700;text-transform:uppercase;text-align:left}
  table td:last-child{border-bottom:0}
  .homeblock5 .col-3:nth-child(1) h2{flex-wrap:wrap;justify-content:center}
  .homeblock5 .col-3:nth-child(1) h2 span{width:100%;text-align:center}
  }
  @media only screen and (max-width: 768px) {
    .cdk-overlay-pane.custom-modalbox-videoplayer-preview {
      height: 276px!important;
      width: 75%;
  }
  .homeblocksubwrapper .textwrapper p{
    padding: 26px 0px;
  }
  .footer p span{padding:3px 0;display:block}
  .titlewrapper h2{font-size:36px;padding-bottom:10px}
  }